@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-white font-source-sans-pro;
  }

  body {
    @apply bg-body-bg text-white;
  }

  html {
    @apply bg-body-bg text-white;
  }

  .fs-inherit {
    font-size: inherit;
  }

  .fs-16px {
    @apply text-base lg:text-[1.171303074670571vw];
  }

  .fs-18px {
    @apply text-[1.3177159590043923vw];
  }

  .fs-20px {
    @apply text-lg lg:text-[1.4641288433382138vw];
  }

  .fs-24px {
    @apply text-[1.7569546120058566vw];
  }

  .fs-30px {
    @apply text-[2.1961932650073206vw];
  }

  .fs-44px {
    @apply text-[3.22108345534407vw];
  }

  .fs-60px {
    @apply text-[4.392386530014641vw];
  }

  .fs-80px {
    @apply text-[5.856515373352855vw];
  }
}

@layer components {
  .container-wrapper {
    @apply w-[88%] mx-auto;
  }
}

.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
}
.black-screen.show {
  opacity: 1;
  pointer-events: visible;
}
